<a href="https://colab.research.google.com/github/Plaifha/data_viz_2022/blob/main/Pandas101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd # import packages

.CSV = Comma Separated Values


data.go.th -> เว็บไว้หาข้อมูล

In [2]:
from google.colab import drive # เชื่อมบัญชีกับ google drive
drive.mount('/content/drive') # เช็คว่าเชื่อมติดหรือไม่

Mounted at /content/drive

In [3]:
import os # จัดการกับพวกไฟล์ต่าง ๆ / list ชื่อ ไฟล์ต่าง ๆ

In [4]:
path = '/content/drive/My Drive/dataviz_2021_data' # ชี้ว่าใน google drive โฟลเดอร์ที่เราอยากได้

In [5]:
covid_file_path = os.path.join(path,'pm-20-jan-2021.csv') # เชื่อมกับไฟล์ .csv
print(covid_file_path) # เเสดงผลลัพธ์ของไฟล์ที่เชื่อม

/content/drive/My Drive/dataviz_2021_data/pm-20-jan-2021.csv

In [6]:
a = path + '/pm-18-jan-2021.csv' 
print(a)

/content/drive/My Drive/dataviz_2021_data/pm-18-jan-2021.csv

## load data to memory

In [7]:
data_covid = pd.read_csv(covid_file_path) # read_csv อ่าน csv ออกมา
data_covid # มี data ทั้งหมด 12653 เเถว 10 คอลัมน์

         No.  ...                                         risk
0          1  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
1          2  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
2          3  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
3          4  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
4          5  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
...      ...  ...                                          ...
12648  12649  ...                             State Quarantine
12649  12650  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12650  12651  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12651  12652  ...                                Cluster ระยอง
12652  12653  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[12653 rows x 10 columns]

In [8]:
data_covid.head() # สามารถเลือกมาช่วงเเรก

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[5 rows x 10 columns]

In [9]:
data_covid.head(20) # 20 คือเเถว

    No.  ...                                               risk
0     1  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
1     2  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
2     3  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
3     4  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
4     5  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
5     6  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
6     7  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
7     8  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
8     9  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
9    10  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
10   11  ...        สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11   12  ...        สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12   13  ...        สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
13   14  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
14   15  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
15   16  ...  อาชีพเสี่ยง เช่น ทำงานในสถานที่แออัด หรือทำงาน...
16   17  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
17   18  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
18   19  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
19   20  ...                      คนไทยเดินทางกลับจากต่างประเทศ

[20 rows x 10 columns]

In [10]:
data_covid.tail() # ข้อมูลล่างสุดของเเถว

         No.  ...                                         risk
12648  12649  ...                             State Quarantine
12649  12650  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12650  12651  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12651  12652  ...                                Cluster ระยอง
12652  12653  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[5 rows x 10 columns]

In [11]:
data_covid.shape # ดูรูปร่าง ของตาราง (เเถว,หลัก)

(12653, 10)

## ชี้ค่าในตาราง

#### basic

In [12]:
data_covid['province_of_onset'] # data[ชื่อคอลัมน์]

0        กรุงเทพมหานคร
1        กรุงเทพมหานคร
2               นครปฐม
3        กรุงเทพมหานคร
4        กรุงเทพมหานคร
             ...
12648           ชลบุรี
12649            ระยอง
12650            ระยอง
12651            ระยอง
12652              ตาก
Name: province_of_onset, Length: 12653, dtype: object

In [13]:
data_covid['risk'][12649] # data[ชื่อคอลัมน์][เเถว]

'สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้'

In [14]:
data_covid['province_of_onset'][4] # data[ชื่อคอลัมน์][เเถว]

'กรุงเทพมหานคร'

#### .iloc

In [15]:
data_covid.iloc[4,7] # data.iloc[เเถว,หลัก] มองเเบบ array

'กรุงเทพมหานคร'

# เรียนถึงนี่ 12 Jan 2022

## Table slicing

#### ตัดมาเฉพาะ column ที่ต้องการ

In [16]:
smaller_table = data_covid[['announce_date','province_of_onset','risk']] # ลำดับมีความสำคัญ : data[[คอลัมน์1,คอลัมน์2]]
smaller_table

      announce_date  ...                                         risk
0         1/12/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
1         1/17/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
2         1/22/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
3         1/22/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
4         1/24/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
...             ...  ...                                          ...
12648     1/20/2021  ...                             State Quarantine
12649     1/20/2021  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12650     1/20/2021  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12651     1/20/2021  ...                                Cluster ระยอง
12652     1/20/2021  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[12653 rows x 3 columns]

#### ตัดเฉพาะ rows ที่ต้องการ

##### แบบง่าย แต่ใช้การอะไรไม่ค่อยจะได้ (มองเป็น array แล้วตัดแบบ array)

In [17]:
data_covid.iloc[1:5,:] # สามารถเปลี่ยนเป็น  array เเล้วเลือก row ที่ต้องการ

   No. announce_date  ... district_of_onset                              risk
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[4 rows x 10 columns]

แบบ advanced แต่ใช้ประโยชน์ได้เยอะกว่า (ตัดแบบใช้ logic query)

$pd_df$[list_of_logical_values] คือ การเลือก row ที่ logical values เป็น True

In [18]:
data_covid['province_of_onset'] # ตารางที่สนใจ province_of_onset

0        กรุงเทพมหานคร
1        กรุงเทพมหานคร
2               นครปฐม
3        กรุงเทพมหานคร
4        กรุงเทพมหานคร
             ...
12648           ชลบุรี
12649            ระยอง
12650            ระยอง
12651            ระยอง
12652              ตาก
Name: province_of_onset, Length: 12653, dtype: object

In [19]:
data_covid['province_of_onset']=='ขอนแก่น' # เเสดง list ของค่า logic

0        False
1        False
2        False
3        False
4        False
         ...
12648    False
12649    False
12650    False
12651    False
12652    False
Name: province_of_onset, Length: 12653, dtype: bool

In [20]:
data_covid[data_covid['province_of_onset']=='ขอนแก่น'] # เลือกข้อมูลที่เป็น ขอนแก่น

         No.  ...                                           risk
180      181  ...                                        สนามมวย
462      463  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
1466    1467  ...                  คนไทยเดินทางกลับจากต่างประเทศ
1970    1971  ...  ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว
2637    2638  ...                  สัมผัสผู้เดินทางจากต่างประเทศ
2673    2674  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
5948    5949  ...                              Cluster สมุทรสาคร
6082    6083  ...                              Cluster สมุทรสาคร
9333    9334  ...                           อยู่ระหว่างการสอบสวน
9334    9335  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
10610  10611  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11517  11518  ...                           อยู่ระหว่างการสอบสวน
11697  11698  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11698  11699  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[14 rows x 10 columns]

In [21]:
data_covid[data_covid['age']>=70] # สนใจข้อมูล age ที่มีอายุมากกว่า เท่ากับ 70

         No.  ...                                               risk
1          2  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
2          3  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
7          8  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
24        25  ...  อาชีพเสี่ยง เช่น ทำงานในสถานที่แออัด หรือทำงาน...
82        83  ...                                            สนามมวย
...      ...  ...                                                ...
11694  11695  ...      ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว
11700  11701  ...        สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11730  11731  ...                                  Cluster สมุทรสาคร
11741  11742  ...                               อยู่ระหว่างการสอบสวน
12102  12103  ...                                  Cluster สมุทรสาคร

[245 rows x 10 columns]

การชี้ค่าในตารางด้วย data_covid[***x***] ค่า ***x*** สามารถมีค่าที่ใส่เข้าไปได้ 2 แบบ


1.   ชื่อ column
2.   ใส่ rows ที่ต้องการ (ใส่ list ที่มี***ขนาดเท่ากับจำนวนแถว*** แล้วบอกว่าเอา แถวไหนบ้างโดยใช้ logical expression (```True```/```False```))

In [22]:
eight_rows_covid = data_covid.iloc[:8,3:] # ตารางตัวอย่าง
eight_rows_covid # เลือกมาเเค่ 8 rows เเรก เอาคอลัมน์ที่ 3 เป็นต้นไป

    sex   age  ... district_of_onset                              risk
0  หญิง  61.0  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1  หญิง  74.0  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2  หญิง  73.0  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3   ชาย  68.0  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4  หญิง  66.0  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
5  หญิง  33.0  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
6  หญิง  57.0  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
7  หญิง  73.0  ...            หัวหิน  คนต่างชาติเดินทางมาจากต่างประเทศ

[8 rows x 7 columns]

In [23]:
eight_rows_covid[[True,False,True,True,False,True,False,False]]   #2.   ใส่ list ที่มีค่า logic ของเเต่ละ row โดยที่ ค่า  True คือ เลือก ค่า False คือไม่เลือก

    sex   age  ... district_of_onset                              risk
0  หญิง  61.0  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2  หญิง  73.0  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3   ชาย  68.0  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
5  หญิง  33.0  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[4 rows x 7 columns]

In [24]:
eight_rows_covid['province_of_onset'] == 'กรุงเทพมหานคร'  #สร้าง list ของ logical expression

0     True
1     True
2    False
3     True
4     True
5     True
6     True
7    False
Name: province_of_onset, dtype: bool

In [25]:
eight_rows_covid[eight_rows_covid['province_of_onset'] == 'กรุงเทพมหานคร']  #เราเอา 2 บรรทัดบนมาบวกกัน

    sex   age  ... district_of_onset                              risk
0  หญิง  61.0  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1  หญิง  74.0  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
3   ชาย  68.0  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4  หญิง  66.0  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
5  หญิง  33.0  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
6  หญิง  57.0  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[6 rows x 7 columns]

In [26]:
eight_rows_covid['district_of_onset'] == 'เมือง' # ค่า NaN เป็น False

0    False
1    False
2     True
3    False
4    False
5    False
6    False
7    False
Name: district_of_onset, dtype: bool

In [27]:
import numpy as np # ตั้งชื่อ nunmpy เป็น np

# .isnull() ใช้ตรวจสอบว่าเป็น NaN หรือไม่

In [28]:
eight_rows_covid['district_of_onset'].isnull() # เเสดง logic ค่าว่างเป็น True

0     True
1     True
2    False
3     True
4     True
5     True
6     True
7    False
Name: district_of_onset, dtype: bool

Quiz (ให้ใช้เฉพาะที่อาจารย์สอนไปแล้วในวิชานี้)

1.   คำนวณ อายุเฉลี่ย ของ**ผู้ชาย** ในข้อมูลทั้งหมด
2.   คำนวณ อายุเฉลี่ย ของ**ผู้ชาย** ในจังหวัดขอนแก่น
3.   หาจำนวนผู้ป่วยที่เป็นคน **ที่ไม่ใช่คนไทย**"

1.  คำนวณ อายุเฉลี่ย ของผู้ชาย ในข้อมูลทั้งหมด

In [29]:
Male = data_covid[data_covid['sex'] == 'ชาย']
Male

         No.  ...                                           risk
3          4  ...               คนต่างชาติเดินทางมาจากต่างประเทศ
8          9  ...               คนต่างชาติเดินทางมาจากต่างประเทศ
10        11  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11        12  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12        13  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
...      ...  ...                                            ...
12640  12641  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12641  12642  ...                                     ระบุไม่ได้
12643  12644  ...                               State Quarantine
12646  12647  ...             Cluster Memory 90's กรุงเทพมหานคร.
12647  12648  ...  ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว

[4819 rows x 10 columns]

In [30]:
sum = 0
N = 0
for a in Male['age']:
    
    if a > 0:
        sum += a # sum = sum + a
        N += 1

print(f'อายุเฉลี่ย ของ ผู้ชาย {sum/N}')

อายุเฉลี่ย ของ ผู้ชาย 39.46076940331987

2. คำนวณ อายุเฉลี่ย ของผู้ชาย ในจังหวัดขอนแก่น

In [31]:
Male_kk = Male[Male['province_of_isolation']== 'ขอนแก่น']
Male_kk

         No.  ...                                         risk
180      181  ...                                      สนามมวย
1466    1467  ...                คนไทยเดินทางกลับจากต่างประเทศ
2673    2674  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
9333    9334  ...                         อยู่ระหว่างการสอบสวน
9334    9335  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
10610  10611  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11516  11517  ...                         อยู่ระหว่างการสอบสวน
11517  11518  ...                         อยู่ระหว่างการสอบสวน

[8 rows x 10 columns]

In [32]:
Male_KK = Male[Male['province_of_onset']=='ขอนแก่น']

sum = 0 # ค่าทั้งหมดมาบวกกันไปเรื่อย ๆ # ดูจากค่า identity ของการบวกเเละการคูณ
N = 0 # มีคนทั้งหมดกี่คน
for a in Male_KK['age']:
    
    if a > 0:
        sum += a # sum = sum + a 
        N += 1 # บวก 1 ขึ้นไปเรื่อย ๆ 

print(f'อายุเฉลี่ย ของ ผู้ชาย ในจังหวัดขอนแก่น {sum/N}')

อายุเฉลี่ย ของ ผู้ชาย ในจังหวัดขอนแก่น 26.571428571428573

3. หาจำนวนผู้ป่วยที่เป็นคน ที่ไม่ใช่คนไทย"

In [33]:
data_fr = data_covid[data_covid['nationality'] != 'Thailand']
data_fr

         No.  ...                                          risk
0          1  ...              คนต่างชาติเดินทางมาจากต่างประเทศ
1          2  ...              คนต่างชาติเดินทางมาจากต่างประเทศ
3          4  ...              คนต่างชาติเดินทางมาจากต่างประเทศ
4          5  ...              คนต่างชาติเดินทางมาจากต่างประเทศ
5          6  ...              คนต่างชาติเดินทางมาจากต่างประเทศ
...      ...  ...                                           ...
12614  12615  ...                       Cluster โรงงาน Big Star
12615  12616  ...                       Cluster โรงงาน Big Star
12617  12618  ...  ผู้ที่เดินทางมาจากต่างประเทศ และเข้า ASQ/ALQ
12618  12619  ...  ผู้ที่เดินทางมาจากต่างประเทศ และเข้า ASQ/ALQ
12652  12653  ...   สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[5340 rows x 10 columns]

In [34]:
data_fr.shape[0]

5340

In [35]:
data_fr = data_covid[data_covid['nationality'] != 'Thailand']

N = 0
for a in data_fr['No.']:
    
    if a > 0:
         N += 1

print(f'จำนวนผู้ป่วยที่เป็นคน ที่ไม่ใช่คนไทย {N}')

จำนวนผู้ป่วยที่เป็นคน ที่ไม่ใช่คนไทย 5340

## หาจำนวนคนป่วยที่ไม่ใช่คนไทย

In [36]:
import numpy as np

In [37]:
np.sum(data_covid['nationality'].dropna() != 'Thailand') # ของ numpy ได้

4129

ตัวอย่าง

In [38]:
this_data = data_covid[['sex','age','province_of_onset']]

In [39]:
this_data

        sex   age province_of_onset
0      หญิง  61.0     กรุงเทพมหานคร
1      หญิง  74.0     กรุงเทพมหานคร
2      หญิง  73.0            นครปฐม
3       ชาย  68.0     กรุงเทพมหานคร
4      หญิง  66.0     กรุงเทพมหานคร
...     ...   ...               ...
12648  หญิง  44.0            ชลบุรี
12649  หญิง  52.0             ระยอง
12650  หญิง  23.0             ระยอง
12651  หญิง  29.0             ระยอง
12652  หญิง  22.0               ตาก

[12653 rows x 3 columns]

In [40]:
female = this_data[this_data['sex']=='หญิง']
female['age']

0        61.0
1        74.0
2        73.0
4        66.0
5        33.0
         ...
12648    44.0
12649    52.0
12650    23.0
12651    29.0
12652    22.0
Name: age, Length: 5332, dtype: float64

In [41]:
sum = 0
N = 0
for a in female['age']:
    
    if a > 0:
        sum += a # sum = sum + a
        N += 1

print(f'อายุเฉลี่ย ของ ผู้ป่วยหญิง {sum/N}')

อายุเฉลี่ย ของ ผู้ป่วยหญิง 36.63955450022614

In [42]:
female_KK = female[female['province_of_onset']=='ขอนแก่น']

sum = 0
N = 0
for a in female_KK['age']:
    
    if a > 0:
        sum += a # sum = sum + a
        N += 1

print(f'อายุเฉลี่ย ของ ผู้ป่วยหญิง ในจังหวัดขอนแก่น {sum/N}')

อายุเฉลี่ย ของ ผู้ป่วยหญิง ในจังหวัดขอนแก่น 41.57142857142857

In [43]:
female[(female['province_of_onset']=='ขอนแก่น') | (female['province_of_onset']=='หนองคาย')] # | คือ or  # มีทั้งคู่

        sex   age province_of_onset
462    หญิง  36.0           ขอนแก่น
1051   หญิง  30.0           หนองคาย
1970   หญิง  70.0           ขอนแก่น
2637   หญิง  63.0           ขอนแก่น
5948   หญิง  32.0           ขอนแก่น
6082   หญิง  36.0           ขอนแก่น
10834  หญิง  40.0           หนองคาย
11697  หญิง  17.0           ขอนแก่น
11698  หญิง  37.0           ขอนแก่น

การจัดการ Missing Value

- ลบ record ที่เป็น missing 
- แทนที่ ค่า missing ด้วยค่าที่เหมาะสม mean, default, category-unknown
- ใช้ ค่าจาก columns อื่นๆ ช่วยประมาณค่า ค่าใน column ที่หายไป (regression, deep learning, etc.)

### ลบ record (dropna)

missing = ```None``` ```NA```(not autorized) ```NaN``` (not a number)

In [44]:
this_data.shape #(12423, 3) # ดูรูปร่าง (เเถว,คอลัมน์)

(12653, 3)

In [45]:
print(data_covid.shape) # ดูรูปร่าง (เเถว,คอลัมน์)
print(data_covid.dropna().shape) # ดูรูปร่างโดยตัดNaN ออก (เเถว,คอลัมน์)

(12653, 10)
(6655, 10)

In [46]:
this_data.dropna().shape  # ดูรูปร่างโดยตัดNaN ออก (เเถว,คอลัมน์)

(8478, 3)

In [47]:
this_data.dropna() # ตารางที่ตัด NaN ออกเเล้ว

        sex   age province_of_onset
0      หญิง  61.0     กรุงเทพมหานคร
1      หญิง  74.0     กรุงเทพมหานคร
2      หญิง  73.0            นครปฐม
3       ชาย  68.0     กรุงเทพมหานคร
4      หญิง  66.0     กรุงเทพมหานคร
...     ...   ...               ...
12648  หญิง  44.0            ชลบุรี
12649  หญิง  52.0             ระยอง
12650  หญิง  23.0             ระยอง
12651  หญิง  29.0             ระยอง
12652  หญิง  22.0               ตาก

[8478 rows x 3 columns]

In [48]:
this_data.dropna()
print(this_data.shape) # เเสดงผลคอลัมน์กับเเถวของ this_data

(12653, 3)

In [49]:
 this_data.dropna(subset=['sex','age']).shape # (subset=['age','sex']) จะถูกตัด missing ใน age กับ sex

(8880, 3)

In [50]:
print(this_data.dropna().shape) # dropna ทุกคอลัมน์
print(this_data.dropna(subset=['sex','age']).shape) # ดู shape ของ missing ที่ตัดเฉพาะ sex age

(8478, 3)
(8880, 3)

# ตรวจสอบ Missing(```isnull()```)

In [51]:
this_data.isnull()

         sex    age  province_of_onset
0      False  False              False
1      False  False              False
2      False  False              False
3      False  False              False
4      False  False              False
...      ...    ...                ...
12648  False  False              False
12649  False  False              False
12650  False  False              False
12651  False  False              False
12652  False  False              False

[12653 rows x 3 columns]

In [52]:
this_data.isnull().any() # .any() เอาค่าความจริงใน column มา OR กัน

sex                  True
age                  True
province_of_onset    True
dtype: bool

In [53]:
this_data.isnull().all() # .all() เอาค่าความจริงใน column มา AND กัน

sex                  False
age                  False
province_of_onset    False
dtype: bool

In [54]:
this_data.isnull().any().any() # สรุปว่าตารางนี้มี ค่าว่าง

True

In [55]:
this_data.dropna(subset=['sex','age']).isnull().any() # ค่า sex กับ age จะไม่มีค่า missing เเล้ว

sex                  False
age                  False
province_of_onset     True
dtype: bool

In [56]:
this_data.dropna(subset=['sex','age'])

        sex   age province_of_onset
0      หญิง  61.0     กรุงเทพมหานคร
1      หญิง  74.0     กรุงเทพมหานคร
2      หญิง  73.0            นครปฐม
3       ชาย  68.0     กรุงเทพมหานคร
4      หญิง  66.0     กรุงเทพมหานคร
...     ...   ...               ...
12648  หญิง  44.0            ชลบุรี
12649  หญิง  52.0             ระยอง
12650  หญิง  23.0             ระยอง
12651  หญิง  29.0             ระยอง
12652  หญิง  22.0               ตาก

[8880 rows x 3 columns]

### 1. เพื่อให้ได้ผลลัพธ์การจัดการ ```dropna()``` ต้องเอาตัวแปรมารับ

In [57]:
this_data_nonull = this_data.dropna(subset=['sex','age'])

In [58]:
this_data_nonull.isnull().any() # age sex ตัด missing เเล้ว

sex                  False
age                  False
province_of_onset     True
dtype: bool

In [59]:
this_data.isnull().any() # ค่า True เเปลว่ายังมี Missing อยู่

sex                  True
age                  True
province_of_onset    True
dtype: bool

### 2. update ตารางด้วยตัวเเปร ```inplace```

In [60]:
this_data.dropna(subset=['sex','age'],inplace=True) # เป็นการอัพเดทตาราง

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [61]:
this_data.isnull().any() # อัพเดทเเล้ว

sex                  False
age                  False
province_of_onset     True
dtype: bool

In [62]:
aa = this_data.dropna(subset=['sex','age'],inplace=True) # **ไม่ควรทำ**

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [63]:
aa # เพราะค่าที่ไปรับเป็น NaN มันเลยไม่เเสดงค่า

### แทน missing ด้วยค่าที่เหมาะสม (```fillna```)

In [64]:
this_data = data_covid[['sex','age','province_of_onset']]

In [65]:
this_data.head() # ยังมี Missing เหมือนเดิม

    sex   age province_of_onset
0  หญิง  61.0     กรุงเทพมหานคร
1  หญิง  74.0     กรุงเทพมหานคร
2  หญิง  73.0            นครปฐม
3   ชาย  68.0     กรุงเทพมหานคร
4  หญิง  66.0     กรุงเทพมหานคร

In [66]:
print(f'จำนวน record ก่อน drop missing ใน province {this_data.shape[0]}')
print(f'จำนวน record หลัง drop missing ใน province {this_data.dropna(subset=["province_of_onset"]).shape[0]}')

จำนวน record ก่อน drop missing ใน province 12653
จำนวน record หลัง drop missing ใน province 10662

### 1. เเทนด้วย class ใหม่

In [67]:
this_data_updated = this_data.fillna(value={'sex':'ไม่รู้', 'age':-1, 'province_of_onset':'ไม่รู้'})
this_data_updated.head() # เเทนค่า ด้วย ไม่รู้ เพื่อที่จะได้ไม่เป็น missing

    sex   age province_of_onset
0  หญิง  61.0     กรุงเทพมหานคร
1  หญิง  74.0     กรุงเทพมหานคร
2  หญิง  73.0            นครปฐม
3   ชาย  68.0     กรุงเทพมหานคร
4  หญิง  66.0     กรุงเทพมหานคร

In [68]:
this_data_updated.tail(15) # 15 เเถวท้าย

          sex   age province_of_onset
12638  ไม่รู้  -1.0         สมุทรสาคร
12639  ไม่รู้  -1.0         สมุทรสาคร
12640     ชาย  66.0   พระนครศรีอยุธยา
12641     ชาย  29.0          ปทุมธานี
12642    หญิง  50.0           ราชบุรี
12643     ชาย  39.0              สตูล
12644    หญิง  49.0       สมุทรปราการ
12645    หญิง  44.0            ชลบุรี
12646     ชาย  18.0       สมุทรปราการ
12647     ชาย  42.0     กรุงเทพมหานคร
12648    หญิง  44.0            ชลบุรี
12649    หญิง  52.0             ระยอง
12650    หญิง  23.0             ระยอง
12651    หญิง  29.0             ระยอง
12652    หญิง  22.0               ตาก

In [69]:
this_data_updated.isnull().any() # ไม่มี missing เเล้ว

sex                  False
age                  False
province_of_onset    False
dtype: bool

### 2. เเทนด้วยค่าที่เหมาะสม

*   ตามใจคนทำ
*   ค่ากลาง

In [70]:
data_covid.head() # ดูเเถวบน

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[5 rows x 10 columns]

In [71]:
data_covid_fillasiwant = data_covid.fillna(value={'sex':'หญิง'}) #  เรามีข้อมูลว่า เพศหญิงมีเยอะกว่าเพศชาย

In [72]:
data_covid_fillasiwant.isnull().any() # sex เเก้เเล้วเลยเป็น False ไม่มี Missing เเล้ว

No.                      False
announce_date            False
notification_date         True
sex                      False
age                       True
nationality               True
province_of_isolation     True
province_of_onset         True
district_of_onset         True
risk                      True
dtype: bool

### แทนด้วยค่ากลาง

In [73]:
data_covid['age'] # ได้ค่าทั้งหมดของคอลัมน์ age

0        61.0
1        74.0
2        73.0
3        68.0
4        66.0
         ...
12648    44.0
12649    52.0
12650    23.0
12651    29.0
12652    22.0
Name: age, Length: 12653, dtype: float64

In [74]:
data_covid['age'].mean() # คำนวณค่าเฉลี่ยของคอลัมน์ age โดยไม่เอา missing มาคำนวณให้ด้วย

38.054748339151

In [75]:
data_covid_fillasiwant.isnull().any() # เห็นว่า  age เป็น false

No.                      False
announce_date            False
notification_date         True
sex                      False
age                       True
nationality               True
province_of_isolation     True
province_of_onset         True
district_of_onset         True
risk                      True
dtype: bool

### การวนลูป record ในตาราง  (```.iterrows```)

In [76]:
this_data = data_covid[['sex','age','province_of_onset']] # ตัด data ชื่อว่า this_data
this_data

        sex   age province_of_onset
0      หญิง  61.0     กรุงเทพมหานคร
1      หญิง  74.0     กรุงเทพมหานคร
2      หญิง  73.0            นครปฐม
3       ชาย  68.0     กรุงเทพมหานคร
4      หญิง  66.0     กรุงเทพมหานคร
...     ...   ...               ...
12648  หญิง  44.0            ชลบุรี
12649  หญิง  52.0             ระยอง
12650  หญิง  23.0             ระยอง
12651  หญิง  29.0             ระยอง
12652  หญิง  22.0               ตาก

[12653 rows x 3 columns]

In [77]:
for each_row in this_data.iterrows():
    # print(each_row)
    # print(each_row[1])
    # print(each_row[1]['sex']) # ดึงค่าในเเต่ละเเถว
    if (each_row[1]['age'] <= 20) and (each_row[1]['province_of_onset'] == 'ขอนแก่น'):
        print(each_row) # ตรวจสอบทุกเเถว ที่คอลัมน์ age <= 20 , province_of_onset = ขอนเเก่น

(1466, sex                      ชาย
age                       19
province_of_onset    ขอนแก่น
Name: 1466, dtype: object)
(9333, sex                      ชาย
age                       17
province_of_onset    ขอนแก่น
Name: 9333, dtype: object)
(9334, sex                      ชาย
age                       20
province_of_onset    ขอนแก่น
Name: 9334, dtype: object)
(10610, sex                      ชาย
age                       17
province_of_onset    ขอนแก่น
Name: 10610, dtype: object)
(11517, sex                      ชาย
age                       12
province_of_onset    ขอนแก่น
Name: 11517, dtype: object)
(11697, sex                     หญิง
age                       17
province_of_onset    ขอนแก่น
Name: 11697, dtype: object)

### การวนลูป แบบมองตารางแพนด้าส์(pandas dataframe) เป็น numpy array  (```.iloc```)

In [78]:
for each_row in range(this_data.shape[0]):
    if (this_data.iloc[each_row,1] == 20) and (this_data.iloc[each_row,2] == 'ขอนแก่น'):  #each_row คือ ตัวเลข
        print(each_row)
        print(this_data.iloc[each_row,:])    # ได้มาเฉพาะค่าที่ต้องการ

9334
sex                      ชาย
age                       20
province_of_onset    ขอนแก่น
Name: 9334, dtype: object

## Quiz ตัดตารางออกมาเฉพาะปี 2021 ```announce_date``` ในปี 2021 

**Hint**
*   วนลูปหา index ของปี 2021
*   ตัดตารางมาเฉพาะ ปี 2021

In [79]:
TF=list()
for each_row in data_covid.iterrows():
    if each_row[1]['announce_date'].split('/')[2] == '2021':
        TF.append(True)
    else:
        TF.append(False)

data_covid[TF].head()

       No.  ...                                               risk
6884  6885  ...                                  Cluster สมุทรสาคร
6885  6886  ...                                      Cluster ระยอง
6886  6887  ...                                        สถานบันเทิง
6887  6888  ...                                  Cluster สมุทรสาคร
6888  6889  ...  อาชีพเสี่ยง เช่น ทำงานในสถานที่แออัด หรือทำงาน...

[5 rows x 10 columns]

### HW กลุ่ม 2 || เลือกข้อมูลมาเฉพาะวัน announce_date เป็นวันที่ 1-20

วันที่ คือเลขตัวที่สอง

In [80]:
TF=list()
for each_row in data_covid.iterrows():
    if each_row[1]['announce_date'].split('/')[1] <= '20' :
        TF.append(True)
    else:
        TF.append(False)

data_covid[TF]

         No.  ...                                         risk
0          1  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
1          2  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
32        33  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
33        34  ...              บุคลากรด้านการแพทย์และสาธารณสุข
34        35  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
...      ...  ...                                          ...
12648  12649  ...                             State Quarantine
12649  12650  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12650  12651  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12651  12652  ...                                Cluster ระยอง
12652  12653  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[5135 rows x 10 columns]

# Function ตัวช่วยใน pandas


### ```.describe()``` คำนวณค่าทางสถิติของข้อมูลที่เป็นตัวเลข

In [81]:
data_covid.describe()

                No.          age
count  12653.000000  8881.000000
mean    6327.000000    38.054748
std     3652.750813    15.125178
min        1.000000     0.100000
25%     3164.000000    27.000000
50%     6327.000000    36.000000
75%     9490.000000    48.000000
max    12653.000000    97.000000

### ```.mean()``` คำนวณค่าเฉลี่ยของข้อมูลโดยไม่สนใจ missing

In [82]:
data_covid[data_covid['sex']=='ชาย']['age'].mean()

39.46076940331987

### ```.isnull()```

In [83]:
data_covid.isnull() # ทดสอบว่าเป็น True หรือ False

         No.  announce_date  ...  district_of_onset   risk
0      False          False  ...               True  False
1      False          False  ...               True  False
2      False          False  ...              False  False
3      False          False  ...               True  False
4      False          False  ...               True  False
...      ...            ...  ...                ...    ...
12648  False          False  ...              False  False
12649  False          False  ...              False  False
12650  False          False  ...              False  False
12651  False          False  ...              False  False
12652  False          False  ...              False  False

[12653 rows x 10 columns]

# next

*   ต่อตารางแกน X แกน y
*   .groupby
*   save table